* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0e0e0e;
    color: #e6e6e6;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ---------- HEADER ---------- */
.header {
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    font-size: 2rem;
    color: #9fd3c7;
}

.header-left span {
    font-size: 0.9rem;
    color: #aaa;
}

.header-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #9fd3c7;
    border: 1px solid #9fd3c7;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
}

.resume {
    background:#9fd3c7;
    color: #0e0e0e !important;
}

/* ---------- HERO ---------- */
.hero {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.avatar img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #9fd3c7;
}

.description {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.7;
    color: #9fd3c7;
}

/* ---------- PROJECTS ---------- */
.projects {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.projects h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #9fd3c7;
}

/* ---------- GRID ---------- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* ---------- CARD ---------- */
.card {
    background: #181818;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    color: #9fd3c7;
    margin-bottom: 5px;
}

.card-content span {
    font-size: 0.85rem;
    color: #aaa;
}

.card-content p {
    margin-top: 10px;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #ddd;
}

/* ---------- SKILLS ---------- */
.skills {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
}

.skills h3 {
    font-size: 1.6rem;
    color: #9fd3c7;
    margin-bottom: 30px;
}

/* GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
}

/* ITEM */
.skill {
    background: #151515;
    border-radius: 14px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(159, 211, 199, 0.15);
}

/* ICON */
.skill img {
    width: 48px;
    height: 48px;
    filter: brightness(0) saturate(100%) 
            invert(78%) sepia(22%) 
            saturate(408%) hue-rotate(110deg);
}

/* TEXTO */
.skill span {
    font-size: 0.9rem;
    color: #9fd3c7;
}
